.about-us {
  text-align: center;
  padding: 20px;
}

.bio {
  margin-bottom: 30px;
}

.google-maps {
  margin-bottom: 30px;
}

.map-container iframe {
  width: 100%;
  max-width: 600px;
  height: 450px;
  border: none;
}

.contact {
  margin-top: 20px;
}
