.navbar {
    background-color: #1a1a2e;
    color: #ffffff;
    padding: 10px;
  }
  
  .menu-button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 24px;
  }
  
  .nav-links {
    display: none;
    list-style-type: none;
    padding: 0;
  }
  
  .nav-links.show {
    display: block;
  }
  
  .nav-links li {
    margin: 10px 0;
  }
  
  .nav-links a {
    color: #ffffff;
    text-decoration: none;
  }
  
  /* client/src/components/Navbar.css */
.logged-in-indicator {
  color: #4caf50; /* Green color for 'Logged in' */
  margin-left: 10px;
}

.logout-link {
  color: red;
  cursor: pointer;
  margin-left: 10px;
}
