.parallax-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: var(--primary-bg);
  }
  
.stars {
    background-image: url('client/public/stars.png');
  }
  